/* Reset & Fullscreen defaults */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html, body, #root {
  height: 100vh; /* Using vh units */
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbar creation */
}
